<!-- NG-VIEW \\\\\\\\\\\\\\\\\\\\\\\\\ -->
				<div class="lead-image table ">
					<div class="all-search table-cell">
						<div class="input-group input-group-lg search-input-wrapper col-md-6 col-md-offset-3">
							<div class="input-group-prepend">
					        	<div class="input-group-text" id="basic-addon1">@</div>
					        </div>
							<input class="form-control form-control-lg  search-input" type="text" placeholder="What are you searching for?" aria-describedby="basic-addon1" aria-label="@" ng-model="searchExpression">
						</div>
					</div>
					
				</div>
				<!-- MUSIC LIST -->
				<div class="all-music-list">
				<input type="text" class="input" ng-model="songName">
					<button class="btn btn-lg btn-primary" ng-click="createTrack()">Create</button>
					<table class="table">
						<tr   ng-repeat="track in tracks | filter:searchExpression">
							<td class="col-sm-2">Name: {{ vm.track.name }}</td>
							<td class="col-sm-2">Time: {{ vm.track.duration | timeNormalize }}</td>
							<td class="col-sm-2">Ganre: <span ng-repeat="gan in vm.track.ganre">{{ gan }},&nbsp</span> </td>
							<td class="col-sm-2">Tags: <span ng-repeat="tag in vm.track.tags">{{ tag }},&nbsp</span> </td>
							<td class="col-sm-2">BPM: {{ vm.track.bpm }}</td>
							<td class="col-sm-2">Buy for: {{ vm.track.cost  }} <img src="./static/img/rub.png" style="height: 10px;"></td>
						</tr>
					</table>
				</div>

				

